<div class="mainDiv">
    <div class="secondaryDiv">
        <div class="menuDiv">
            <div class="logo">Gerenciador de Estoque</div>
            <div class="menu">
                <div class="menuItem">Titulo 1</div>
                <div class="menuItemActive">Titulo 1</div>
                <div class="menuItem">Titulo 1</div>
                <div class="menuItem">Titulo 1</div>
            </div>
            <div>
                <p class="logo">x</p>
            </div>
        </div>
        <div class="tableDiv">
            <app-tabela-produtos></app-tabela-produtos>
        </div>

    </div>
</div>